* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes marquee-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes marquee-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

/* Apply the marquee animation */
.animate-marquee-up {
  animation: marquee-up 20s linear infinite;
}

.animate-marquee-down {
  animation: marquee-down 20s linear infinite;
}

/* Adjust overflow for smooth scrolling */
.overflow-hidden {
  overflow-y: hidden;
  position: relative; /* Add position relative to container */
  height: 100%; /* Ensure container takes full height */
}
